*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(80, 80, 80);
    padding: 10px;
}

header > p{
    color: rgb(230, 230, 230);
    text-align: right;
}

header > p a{
    color: rgb(230, 230, 230);
    text-decoration: none;
}

header > p a:hover{
    color: white;
}

main{
    background-color: rgb(235, 235, 235);
    padding: 20 20px;
    min-height: 100vh;
}

main > h2{
    width: 400px;
    margin: 20px auto;
    font-weight: 400;
    font-size: 20px;
}

main > form{
    width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

main > form > input{
    display: block;
    width: 100%;
    border-radius: 10px;
    border: gray 1px solid;
    font-size: 25px;
    padding: 10px;
    margin: 0 0 15px 0;
    outline-color: aqua;
}

main > form > input:focus{
    outline: 2px solid rgb(255, 140, 0);
}

main > form > label{
    width: 100%;
    font-size: 15px;
    display: block;
    margin: 0 0 5px 0;
}

main > form > button{
    background-color: rgb(255, 140, 0);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    margin: 0 20px 0 0;
}