aside 
    nav 
        ul
            a(href='/CustomerPage')
                h2 Oversigt
            a(href='/Calendar')
                li Book rejse
            a(href='/CustomerJourneys')
                li Mine Rejser
            a(href='/Contact')
                li Kontakt
