aside 
    nav 
        ul
            a(href='/customers/CustomerPage')
                h2 Oversigt
            a(href='/customers/Calendar')
                li Book rejse
            a(href='/customers/CustomerBookings')
                li Mine Rejser
            a(href='/customers/Contact')
                li Kontakt
