header
    #logo 
        a(href="/drivers/") 
            img(src='/images/Bike-with-us_logo_hvid-300x108.png', alt='BikeWithUs logo')
    p Velkommen #{driverUser.firstName} #{driverUser.lastName}
    a(href='/drivers/driverLogout') Logout 