header
    #logo 
        img(src='/images/Bike-with-us_logo_hvid-300x108.png', alt='BikeWithUs logo')
    p Velkommen #{customerUser.firstName} #{customerUser.lastName}
    a(href='/customers/customerLogout') Logout