header
    #logo 
        a(href="/admins/") 
            img(src='/images/Bike-with-us_logo_hvid-300x108.png', alt='BikeWithUs logo')
    p Velkommen #{adminUser.firstName} #{adminUser.lastName}
    a(href='/admins/adminLogout') Logout 