doctype html 
html 
    include head
    body 
        include headerCustomer
        main
            include asideCustomer
            section
                //content here
                block content
        include footer