doctype html 
html 
    include head
    body 
        include header
        main
            include aside
            section
                //content here
                block content
        include footer