extends includes/layout

block content 
    h1 Kære #{customer.name}, din reservation er hermed gennemført  
    
    h2 Kommende rejser 
    ul
        each journey in journeys 
            li #{journey.startDate} - #{journey.endDate}  
