extends includes/layout 

block content 
    ul 
        each customer in customers  
            li
                a(href='/customer/get/' + customer.docID)  #{customer.FirstName} #{customer.LastName} #{customer.City}