extends includes/layout 

block content
    //script(src="/js/adminCalender.js" defer)
    script(src="/core.js" defer)

    #months
      #radioButtons
      form(id='form')

    br

    #buttons 
      a(href='/admins/overview/editBooking')
        button(type='button' id='btnRedigering' ) Rediger rejse
        
    #table-container
      table#table
        thead
          tr
            td
              p
                b Dato
            td
              p
                b Rejse
            td
              p
                b Kunder
            td 
              p 
                b Tilvalg
            td 
              p 
                b Afhentes
            td 
              p 
                b Antal Personer
        tbody#tableBody