extends includes/layout 

block content
    form(action='/customerLogin', method='POST')
                label(for='') Rejse: 
                input(type='text', id='customerUsername', name='username', required)
                br
                label(for='password') Adgangskode
                input(type='password', id='customerPassword', name='password', required)
                br
                button(type='submit', name='action', value='login') Login Customer