extends includes/layout 

block content
    script(src="/core.js" defer)
    form(id='redigerForm' action=`/admins/api/overview/editBooking/` method='POST')
      div(id='editBookingDiv')
        div(id='vælgBookingDiv')
          label(for='bookingsDropDown') Vælg rejse:
          select(name='bookings', id='bookingsDropDown')
            <option disabled selected value> -- select an option -- </option>
            each booking in bookings
              option(value=booking.docID) #{booking.journey.name}
          br
        div(id='navnDiv')
          label(for='customerName') Tilhørende kunde: 
          input(type='text', id='customerName', name='name', readonly)
          br
        div(id='bookingDiv')
          label(for='bookingId') Bookingnr.: 
          input(type='text', id='bookingId', name='id', readonly)
          br
        div(id='startDateDiv')
          label(for='bookingStartDate') Startdato: 
          input(type='text', id='bookingStartDate', name='startDate', required)
        br
        div(id='buttonDiv')
          button(type='submit', name='action', id='redigerBtn') Rediger rejse
