doctype html
html(lang='en')
  head
    meta(charset='utf-8')
  body
    h1= 'Startdato: ' + startDate
    h2= 'Slutdato: ' + endDate

    form(action='/Calendar/confirmation', method='post')
      div
        label(for='duration') Vælg varighed:
        select(name='duration', id='duration')
          option(value='3') 3 dage
          option(value='4') 4 dage

      div
        label(for='price') Pris:
        input(type='text', name='price', id='price', readonly='readonly')

      div
        label(for='participants') Antal personer (1-10):
        input(type='number', name='participants', id='participants', min='1', max='10', value='1')

      div
        input(type='submit', value='Bekræft booking', id='confirmBookingBtn')

        input(type='hidden', name='endDate', id='endDate', value=endDate)

      script.
        document.getElementById('confirmBookingBtn').addEventListener('click', function(event) {
        event.preventDefault(); // Forhindre standardformularindsendels
        document.querySelector('form').submit()})
    