extends includes/layoutCustomer

block content
  h1 Booking Bekræftet
  p
    | Hej #{customer.firstName}, dit køb er bekræftet.
  p 
    | Dato: #{booking.startDate}
    br
    | Pris: #{booking.price}
  a(href='/CustomerPage')
    button(type='button' id='kundeOversigt') Kunde oversigt