doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        script(src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js')
        script(src="/js/bookingCalendar.js" defer)
    body
        #calendar