extends includes/layoutCustomer 

block content
    p Bookingen er nu blevet opdaeret.
    a(href='/admins/oversigt/')
        button(type='button' id='returnerTilOversigt') Vend tilbage til oversigt

     a(href='/admins/oversigt/redigerRejse')
        button(type='button' id='btnRedigering') 