extends includes/layout 

block content
    p Bookingen er nu blevet opdateret.
    a(href='/admins/oversigt/')
        br
        button(type='button' id='returnerTilOversigt') Vend tilbage til oversigt

    //-a(href='/admins/oversigt/')
        button(type='button' id='btnRedigering') 