extends includes/layoutContact

block content
    h1 KONTAKT INFO 

    ul 
        li
            h2 Telefon 
            p +45 91 88 28 60

        li 
            h2 E-mail
            p info@bikewithus.dk

        li 
            h2 Adresse 
            p Stausholmvej 27, 7673 Harboøre   

        li
            h2 Åbningstider for telefonen
            p 
                | Mandag - fredag: 09:00 - 17:00
                br
                | Lørdag: 09:00 - 16:00
                br
                | Søndag: Lukket

        li
            h2 BikeWithUs Vest
            p CVR 41 97 04 72

        li
            h2 BikeWithUs Nord
            p CVR 42 33 16 78