extends includes/layoutCustomer

block content
    h3 BIKEWITHUS KONTAKT INFO 
    div(id='contactDiv')
        ul 
            li
                h3 Telefon 
                p +45 91 88 28 60

            li 
                h3 E-mail
                p info@bikewithus.dk

            li 
                h3 Adresse 
                p Stausholmvej 27, 7673 Harboøre   

            li
                h3 Åbningstider for telefonen
                p 
                    | Mandag - fredag: 09:00 - 17:00
                    br
                    | Lørdag: 09:00 - 16:00
                    br
                    | Søndag: Lukket

            li
                h3 BikeWithUs Vest
                p CVR 41 97 04 72

            li
                h3 BikeWithUs Nord
                p CVR 42 33 16 78