html
    head 
        title BikeWithUs customer
    
        link(rel="stylesheet" href="/CSS/core.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet")
    
    body 
        main 
            h2 Customer login
            form(action='/customers/customerLogin', method='POST')
                label(for='username') Brugernavn
                input(type='text', id='customerUsername', name='username', required)
                br
                label(for='password') Adgangskode
                input(type='password', id='customerPassword', name='password', required)
                br
                button(type='submit', name='action', value='login') Login Customer