<html>
    <head>
        <title>BikeWithUs admin</title>
        <link rel="stylesheet" href="/GUI/assets/CSS/core.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&amp;display=swap" rel="stylesheet"/>
    </head><!--body--><body> <main> <h2>BikeWithUs admin og buschauffør login</h2><form action="/login" method="post"><label for="username">Brugernavn</label><input type="text" id="username" name="username" required="required"/><label for="password">Adgangskode</label><input type="password" id="password" name="password" required="required"/><button type="submit" name="action" value="login">Login Admin</button><button type="submit" name="action" value="register">Login buschauffør</button></form></main></body></html>