aside 
    p this is the navigation
    nav 
        ul 
            li
                a(href='') link 1
            li 
                a(href='') link 2
            li 
                a(href='') link 3